<!DOCTYPE html>
<html>

<head>
  <title>jQuery WeUI</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description. ">
  <link rel="stylesheet" href="../lib/weui.min.css">
  <link rel="stylesheet" href="../css/jquery-weui.css">

</head>

<body ontouchstart>
  <div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" action="javascript:search()">
      <div class="weui-search-bar__box">
        <i class="weui-icon-search"></i>
        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
      </div>
      <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
        <i class="weui-icon-search"></i>
        <span>搜索</span>
      </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
  </div>

  <div class="weui-grids" style="margin-top:5px;">
    <a href="productList.html?brand=langines" class="weui-grid js_grid">
      <div class="weui-grid__icon">
        <img src="images/icon_nav_button.png" alt="">
      </div>
      <p class="weui-grid__label">
        浪琴
      </p>
    </a>
    <a href="cell.html" class="weui-grid js_grid">
      <div class="weui-grid__icon">
        <img src="images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-grid__label">
        欧米伽
      </p>
    </a>
    <a href="form.html" class="weui-grid js_grid">
      <div class="weui-grid__icon">
        <img src="images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-grid__label">
        天梭
      </p>
    </a>
  </div>
  <div class="weui-tabbar" id="bottomTab">
    <a href="index.html" class="weui-tabbar__item "  id="indexTab">
      <div class="weui-tabbar__icon">
        <img src="./images/icon_nav_button.png" alt="">
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="buyCart.html" class="weui-tabbar__item" id="buyCartTab">
      <div class="weui-tabbar__icon">
        <img src="./images/icon_nav_msg.png" alt="">
        <span class="weui-badge" style="position: absolute;top: -.4em;right: 3em;" id="buyCartNumber">8</span>
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="my.html" class="weui-tabbar__item" id="myTab">
      <div class="weui-tabbar__icon">
        <img src="./images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-tabbar__label">我</p>
    </a>
  </div>


  <script src="../lib/jquery-2.1.4.js"></script>
  <script src="../lib/fastclick.js"></script>
  <script src="../js/jquery-weui.js"></script>
  <script src="../js/getParam.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script src="../js/sessionUtil.js"></script>
</body>
</html>
<script>
    $(function () {
      FastClick.attach(document.body);
    });
    $(document).ready(function(){
      $("#bottomTab").find(".weui-tabbar__label").css("color","black");
      $("#indexTab").find(".weui-tabbar__label").css("color","#04be02");
      var sessionId=getSessionid(); 

    });
    function search(){
      var keyword=$("#searchInput").val();
      window.location="productList.html?keyword="+keyword;
    }
  </script>