<!DOCTYPE html>
<html>

<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description. ">

    <link rel="stylesheet" href="../lib/weui.min.css">
    <link rel="stylesheet" href="../css/jquery-weui.css">
    <link rel="stylesheet" href="../css/radioCheck.css">
</head>

<body ontouchstart>
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item" href="#tab1">
                待付款
            </a>
            <a class="weui-navbar__item" href="#tab2">
                待收货
            </a>
            <a class="weui-navbar__item weui-bar__item--on" href="#tab3">
                地址管理
            </a>
        </div>
        <div class="weui-tab__bd" style="margin-bottom: 50px;">
            <div id="tab1" class="weui-tab__bd-item">
                <h1>待付款订单</h1>
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <h1>页面二</h1>
            </div>



            <div id="tab3" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_swiped">
                        <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <input type="radio" name="test" id="aaa">
                                    <label for="aaa">左滑列表</label>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cell__ft">
                            <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                            <a class="weui-swiped-btn weui-swiped-btn_default " style="background-color: #1aad19;" href="addressEditor.html">修改</a>
                        </div>
                    </div>

                </div>

                <div style="margin-top:10px;">
                    <a href="addressEditor.html" class="weui-btn weui-btn_primary">添加地址</a>
                </div>
            </div>
        </div>
    </div>



    <div class="weui-tabbar" id="bottomTab">
        <a href="index.html" class="weui-tabbar__item " id="indexTab">
            <div class="weui-tabbar__icon">
                <img src="./images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="buyCart.html" class="weui-tabbar__item" id="buyCartTab">
            <div class="weui-tabbar__icon">
                <img src="./images/icon_nav_msg.png" alt="">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 3em;" id="buyCartNumber">8</span>
            </div>
            <p class="weui-tabbar__label">购物车</p>
        </a>
        <a href="my.html" class="weui-tabbar__item" id="myTab">
            <div class="weui-tabbar__icon">
                <img src="./images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>

    <script src="../lib/jquery-2.1.4.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/getParam.js"></script>
    <script src="../js/jquery-weui.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/sessionUtil.js"></script>


</body>

</html>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
    $(document).ready(function(){
      $("#bottomTab").find(".weui-tabbar__label").css("color","black");
      $("#myTab").find(".weui-tabbar__label").css("color","#04be02");
    });
    var sessionId=getSessionid(); 
   alert(sessionId);


</script>